--only-binary pyobjc-core
--only-binary pyobjc-framework-cocoa
--only-binary pyobjc-framework-colorsync
--only-binary pyobjc-framework-quartz

pyobjc-core==11.1; sys_platform == 'darwin'
pyobjc-framework-cocoa==11.1; sys_platform == 'darwin'
pyobjc-framework-colorsync==11.1; sys_platform == 'darwin'
pyobjc-framework-quartz==11.1; sys_platform == 'darwin'
