--only-binary pyobjc-core
--only-binary pyobjc-framework-cocoa
--only-binary pyobjc-framework-colorsync
--only-binary pyobjc-framework-quartz

pyobjc-core==11.0
pyobjc-framework-cocoa==11.0
pyobjc-framework-colorsync==11.0
pyobjc-framework-quartz==11.0
